{
  "env": {
    "test": {
      "presets": ["env"]
    },
    "development": {
      "presets": [["env", {"modules": false}]],
      "plugins": ["external-helpers"]
    }
  },
  "presets": ["stage-1"]
}
